//Colors
$purpleLight: #b6a2c5;
$purpleDark: #936bb1;
$teal: #75d0d7;


$forest: #228b22;
$amber: #f08c2d;
$ruby: #c02f1d;
$sky: #00a8ff;


$jet: #131516;
$raven: #373537;
$asher: #555151;
$stone: #707370;
$grey: #97979a;
$sterling: #b0b0b2;
$heather: #c7c7c9;
$pearl: #e2e3e4;
$lilia: #f2f3f4;
$white: #FFFFFF;



$text: $stone;
$heading: $asher;