// Fonts
$f-sans: "Open Sans", Arial, Helvetica, sans-serif;
$f-serif: "PT Serif", "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;



// Height
$h-header: 60px;

$h-logo: 140px;
$h-searchField: 32px;



// Widths
$w-panel: 240px;



// Padding
$p-panel: 16px;


// Speed
$t-fast: 0.2s;
$t-default: 0.4s;
$t-slow: 0.8s;

// Misc