*:focus {
	outline-color: $purpleDark;
}

::-webkit-input-placeholder {
   color: $sterling;
}

:-moz-placeholder { /* Firefox 18- */
   color: $sterling;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $sterling;
}

:-ms-input-placeholder {
   color: $sterling;
}



// Form Parts
input,
textarea,
select {
	width: 100%;
	padding: 6px;
	border: 1px solid $pearl;
	color: $stone;

	&:focus {
		outline-color: $purpleDark;
	}
}

label {
	position: relative;
	padding: 4px 0 6px;
	color: $heading;

	span {
		position: absolute;
		bottom: 6px;
		right: 0;
		font-size: 70%;

		&.required {
			color: $ruby;
		}
	}
}

.form_heading {
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid $pearl;
}

.help_text {
	clear: both;
	padding: 4px 0;
	color: $heather;
	@include font-size(0.875);
	text-align: right;

	a {
		@include link-colors(inherit, $purpleDark);
		text-decoration: underline;
	}
}

.error_message {
	color: $ruby;
}




// Form Organization
.form_block {
	@include clearfix;
	margin-bottom: 30px;

	&.last {
		margin-bottom: 0;
	}
}

.form_group {
	@include clearfix;
	margin-bottom: 30px;

	&.last {
		margin-bottom: 0;
	}
}

.form_group-two_column {
	@extend .form_group;
	margin-bottom: 30px;

	.form_block {
		width: 50%;
		margin: 0;
		float: left;

		&.first_column {
			padding-right: 2%;
		}

		&.second_column {
			padding-left: 2%;
		}
	}
}

.form_block-inline{
	@extend .form_block;

	label {
		float: left;
	}
	input {
		float: left;
	}
}