.social_menu {
	padding: 0;
	border-bottom: 1px solid $white;

	ul {
		margin: 0;
		padding: 0 $p-panel;
		list-style: none;
		text-align: center;
	}

	li {
		display: inline-block;
	}

	a {
		display: block;
		padding: 6px;
		font-size: 24px;
		@include link-colors($white, $white);

		&:hover {
			background-color: $purpleDark;
		}
	}
}