.page--title {
	margin-top: 40px;
	font-size: 36px;
	font-weight: 400;
	color: $purpleDark;

	span {
		font-weight: 700;
	}
}

.page--content {
	position: relative;
	min-height: 400px;
	margin: 20px 0 40px;

	h1, h2, h3, h4, h5, h6 {
		padding: 22px 0 12px;
		color: $purpleDark;
	}

	p {
		margin-bottom: 12px;
		line-height: 1.75;
	}

	ul, ol {
		margin-bottom: 12px;
	}

	li {
		line-height: 1.75;
	}
}