.widget_bar {
	@include clearfix();
	width: 100%;
	margin: 30px 0;
	padding: 20px;
	background-color: $purpleLight;
}

.widget {
	float: left;

	&:nth-of-type(odd) {
		width: 45%;
		padding-right: 20px;

		@include bp(880) {
			width: 100%;
			padding: 0 0 20px;
		}
	}

	&:nth-of-type(even) {
		width: 55%;
		padding-left: 20px;
		border-left: 1px solid $purpleDark;

		@include bp(880) {
			width: 100%;
			padding: 20px 0 0;
			border-top: 1px solid $purpleDark;
			border-left: none;
		}
	}

	@include bp(880) {
		float: none;
		width: 100%;
		padding: 0;
	}
}

.widget--title {
	margin-bottom: 14px;
	font-size: 24px;
	color: $white;
	line-height: 1.3;
}


//
// Recent Posts
.rpwe-block ul {
	margin-left: 0;
	list-style: none;
}

.rpwe-block li {
	padding: 4px 0;
}

.rpwe-block h3 {
	font-size: 16px;
	font-weight: 400;
}

.rpwe-block a {
	display: block;
	padding: 2px 0;
	text-decoration: none;
	@include link_colors($white, $white);
	line-height: 1.5;
	opacity: 0.8;

	&:hover {
		opacity: 1.0;
	}
}


//
// Book Widget
.book_widget {
	position: relative;
}

.book_widget--image {
	position: absolute;
	top: 0;
	left: 20px; // due to padding
	width: 140px;

	@include bp(880) {
		top: 20px;
		left: 0;
	}

	@include bp(520) {
		position: static;
		float: left;
		margin-right: 20px;
	}

	@include bp(440) {
		float: none;
		width: 100%;
		text-align: center;

		img {
			width: 140px;
		}
	}
}

.book_widget .widget--title {
	padding-left: 160px;
	color: $white;

	@include bp(520) {
		padding-left: 0;
	}
}

.book_widget--text {
	min-height: 130px;
	padding-left: 160px;
	color: $white;
	line-height: 1.75;

	@include bp(520) {
		padding-left: 0;
	}
}

.book_widget--link {
	float: right;
	margin-top: 60px;
	padding: 8px 28px;
	background-color: $teal;
	font-size: 20px;
	font-weight: 400;
	@include link_colors($white, $white);

	@include bp(880) {
		margin-top: 20px;
	}

	@include bp(520) {
		display: block;
		clear: both;
		float: none;
		width: 100%;
		text-align: center;
	}

	&:hover {
		background-color: $purpleDark;
		text-decoration: none;
	}
}